.error-ui {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-ui > img {
  filter: invert(35%) sepia(99%) saturate(8000%);
  width: 36px;
}

.error-message {
  margin: 15px;
  font-size: 18px;
  color: rgb(239, 31, 31);
}
