html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body,
#app {
  font-family: "IBM Plex Mono", monospace;
  background-image: radial-gradient(
    circle farthest-corner at 50% 15%,
    #b8ff81,
    #d8ffbcad,
    #fffbbc48
  );
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 50px;
}

.navigation-menu {
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.error {
  color: #ff1616;
  font-size: 20px;
  margin: 50px 0;
}

.nav-buttons {
  margin-top: 50px;
}
