.select-lang-button {
  margin-right: 8px;
  margin-bottom: 20px;
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: 2px solid #ffffff00;
  transition: 0.3s all ease-in-out;
}

.select-lang-button:hover {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.select-lang-button.selected {
  color: #282828;
  border-bottom: 4px solid #282828;
}
