.nav-button {
  all: unset;
  color: rgba(139, 139, 139, 0.5);
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 40px 40px 0px;
  transition: 0.5s all ease;
}

.nav-button:hover {
  color: #5c5c5c;
}

.nav-button.active {
  color: #282828;
}
