.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;

  padding: 20px;
}

.match-icon {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.match-icon > img {
  width: 30px;
  height: 30px;
  filter: invert(45%) sepia(10%) saturate(3000%) hue-rotate(75deg)
    brightness(119%);
}

.match-icon > .winner-icon {
  filter: invert(80%) sepia(70%) saturate(2000%);
}

.card > a {
  text-decoration: none;
  color: #282828;
}

.card > a:hover {
  text-decoration: underline;
  color: #33dd15;
  transition: all 0.3 ease;
}

.github-username {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.link {
  text-decoration: underline;
  font-weight: 300;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 40px;
}

.match-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-info-wrapper > span {
  display: flex;
  align-items: center;
  color: #777;
  padding: 12px 8px;
}

.svg-followers,
.svg-followings,
.svg-repo-forked,
.svg-star,
.svg-issue-opened {
  padding-right: 8px;
}

.svg-followers-count,
.svg-followings-count,
.svg-forks-count {
  font-weight: bold;
}
