.trending-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 8px 5px;
  transition: box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.trending-card:hover {
  box-shadow: 0px 0px 20px rgba(255, 245, 51, 0.5);
}

.trending-card-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #81430d;
  margin: 12px 4px;
}

.owner-name > p {
  margin-bottom: 15px;
  padding: 8px;
  color: #212355;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-wrapper > span {
  display: flex;
  align-items: center;
  color: #777;
  padding: 3px 8px;
}

.svg-followers,
.svg-repo-forked,
.svg-star,
.svg-issue-opened {
  padding-right: 8px;
}

.svg-followers-count,
.svg-forks-count {
  font-weight: bold;
}

.svg-language {
  height: 28px;
}

span > p {
  display: inline-block;
  font-size: 15px;
  color: #282828;
  margin-right: 8px;
}

.trending-card > a {
  text-decoration: none;
}

.trending-card-name:hover,
.trending-card > a:hover {
  text-decoration: underline;
  color: #33dd15;
  transition: all 0.3 ease;
}
